/**
 * Global Theme Styles
 */

body {
	background: $body-bg-color;
}

// Site Title/Logo
.site-title {
	font-family: $site-title-font-family;
	font-size: $site-title-font-size;
	font-weight: $site-title-font-weight;
	text-align: center;
}

a.site-title-text {
	background: $site-title-bg-color;
	color: $site-title-font-color;
 	padding: 15px 30px;
 	display: inline-block;
}

// Page Content
.page-content {

	.wrapper {
 		background-color: $page-content-bg-color;
 		padding-top: $spacing-unit;
 		padding-bottom: $spacing-unit;
 	}

 	ul, ol {
    	margin-left: $spacing-unit;
	}

	li {
    	> ul,
    	> ol {
        	margin-bottom: 0;
    	}
	}

	h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure, %vertical-rhythm {
    	margin-bottom: $spacing-unit / 2;
	}

	p {
		&:last-child {
			margin-bottom: 0;
		}
	}
}

// Social Icons
ul.social {
	text-align: center;

	li {
		display: inline;
		margin: 0 $spacing-unit/4;
	}

	a {
		font-size: 0;

		&:before {
			@include icofont(20px);
		}
	}
}
a[href*="linkedin"] {

	&:before {
	    content: '\e907';
	}	
}

a[href*="drupal"] {
	
	&:before {
	    content: '\e903';
	}	
}

a[href*="github"] {
	
	&:before {
	    content: '\e906';
	}	
}

a[href*="twitter"] {
	
	&:before {
	    content: '\e905';
	}	
}

a[href*="facebook"] {
	
	&:before {
	    content: '\e904';
	}	
}