<footer class="site-footer">

    <div class="wrapper">
        <ul class="social">
        	<li><a href="https://www.linkedin.com/in/nickswit" target="_blank">Linked In</a></li>
        	<li><a href="https://www.drupal.org/u/switzern" target="_blank">drupal.org</a></li>
        	<li><a href="https://github.com/nswitzer" target="_blank">Github</a></li>
        	<li><a href="https://twitter.com/switzern" target="_blank">Twitter</a></li>
        	<li><a href="https://www.facebook.com/nick.switzer" target="_blank">Facebook</a></li>
        </ul>
    </div>

  </div>

</footer>
