<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ page.title }} | {{ site.title }}</title>
    <meta name="description" content="{% if page.meta_desc %}{{ page.meta_desc }}{% else %}{{ site.description }}{% endif %}">

    {% if page.noindex == true %}
    <meta name="robots" content="noindex">
    {% endif %}

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,400italic,700,700italic' rel='stylesheet' type='text/css'>

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

    <script src="{{"/js/vendor/modernizr-custom.js" | prepend: site.baseurl }}"></script>
    <script src="{{"/js/vendor/js.cookie.js" | prepend: site.baseurl }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="{{"/js/preloader.js" | prepend: site.baseurl }}"></script>
    <script src="{{"/js/vendor/responsive-nav.js" | prepend: site.baseurl }}"></script>
</head>