<header class="site-header">

    <nav class="site-nav">
        <div class="wrapper">
            <a href="#" class="menu-trigger">Menu</a>
            <ul>
                <li><a href="{{site.baseurl}}/">Home</a></li>
                {% for my_page in site.pages %}
                {% if my_page.title %}
                <li><a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </nav>

    <div class="site-title">
        <a class="site-title-text" href="{{ site.baseurl }}/">{{ site.title }}</a>
    </div>

</header>
