<!DOCTYPE html>
<html class="no-js">

    {% include head.html %}

    <body {% if page.front == true %} class="front" {% endif %}>
    <div id="preloader"></div>
    <div class="page-wrapper">
        {% include header.html %}

        {% if page.cover_photo %}
        <div class="cover-photo">
            <div class="wrapper">
                <img src="/assets/cover-photos/{{page.cover_photo}}" />
            </div>
        </div>
        {% endif %}

        <div class="page-content">
            <div class="wrapper padded">
                {{ content }}
            </div>
        </div>

    </div>
    {% include footer.html %}

    <script src="{{"/js/nav.js" | prepend: site.baseurl }}"></script>
    </body>

</html>
