/**
 * Variable Declarations
 */

 // Color Palette
 $gray-blue: #2c3e50;
 $red: #fc4349;
 $light-gray: #d7dadb;
 $light-blue: #6dbcdb;
 $white: #ffffff;

 // Element Color Definitions
 $body-bg: $light-gray;

 $preloader-bg: $white;